@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to the Home Page</h1>

<p>
    <a asp-controller="Home" asp-action="ManageFiles">Manage Files</a>
</p>
<p>
    <a asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
</p>



@* @model IEnumerable<UnivercityDepartment.Models.Teacher>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Faculty</th>
            <th>Department</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var teacher in Model)

        {
            <tr>
                <td>@teacher.FirstName @teacher.LastName</td>
                <td>
                    @if (teacher.Faculty != null)
                    {
                        @teacher.Faculty.FacultyName
                    }
                    else
                    {
                        <em>Faculty not assigned</em>
                    }
                </td>
                <td>
                    @if (teacher.Department != null)
                    {
                        @teacher.Department.DepartmentName
                    }
                    else
                    {
                        <em>Department not assigned</em>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
 *@